@charset "utf-8";
/* CSS Document */

:focus {
  border: none;
  box-shadow: 0 4px 2px -2px gray;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #d0d0d0;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
}
img {
  opacity: 1;
  transition: opacity 0.3s;
}
img[data-src] {
  opacity: 0;
}
a, button {
	color: #EE7600;
  text-decoration: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}
a:hover, a:focus,
button:hover, button:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding: 10px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

#map.hidden {
 /* display: none; */
}

#show-map button:hover {
  cursor: pointer;
  background-color: #f3f3f3;
  color: #EE7600;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #3397DB;
  align-items: center;
  padding: 10px;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 20px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin-bottom: 20px;
  min-height: 380px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h3 {
  color: #EE7600;
  font-family: Arial,sans-serif;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 18px;
}
#restaurants-list li button,
#show-map button {
  background-color: #EE7600;
  border: 2px solid #EE7600;
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 15px auto;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #EE7600;
}


/* ====================== Restaurant Details ====================== */

.inside #map-container {
  height: 400px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  color: #EE7600;
  font-family: Arial,sans-serif;
  font-size: 24pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 10px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 18px;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, 
#reviews-container, 
#map-container {
  border-bottom: 1px solid #d9d9d9;
}
#restaurant-container, 
#reviews-container {
  border-top: 1px solid #fff;
}
#reviews-container h3 {
  color: #EE7600;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
